.container {
    background-color: black;
    color: white;
    margin: auto;
    width: 300px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.reverse-column {
    flex-direction: column-reverse;
}